@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.App{

    width: auto ;
    height: auto;
}

.Header {
    font-family: 'Montserrat', regular;
    font-size: 96px;
    color: #F2E9E4;
}

.input-box{
    padding: 30px;
    background: #4A4E69;
}
